# ignore the data
data/*

# tfevents

# ingore experiments/reference folder except pipeline.config and saved_model.pb
*.v2
*.data*
*.index
checkpoint




# student bash
.student_bashrc


# checkpoints
.ipynb_checkpoints/*

