# ignore the data
data/*

# tfevents
experiments/reference/experiment_1/train/*
experiments/reference/experiment_1/eval/*

experiments/reference/experiment_2/train/*
experiments/reference/experiment_2/eval/*

experiments/reference/exported/checkpoint

# student bash
.student_bashrc


# checkpoints
.ipynb_checkpoints/*